<footer>
  <div class="w-full">
    <div
      style="
        background-image: url(../assets/images/bg-boost-desktop.svg);
        background-color: #581c87;
      "
      class="bg-local bg-cover bg-repeat-round"
    >
      <div
        class="flex mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8 left-0 md:relative"
      >
        <div class="w-full left-0 md:relative text-white text-center mt-8">
          <h1 class="font-bold text-xl md:text-4xl">Boost your link today</h1>
          <button
            type="button"
            class="text-white bg-teal hover:bg-teal-light focus:bg-teal-dark font-medium rounded-lg text-sm px-4 py-2 text-center mt-4 md:mr-0"
          >
            Get Started
          </button>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div style="background-color: #262626" class="flex w-full">
      <div
        class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8"
      >
        <div class="text-center md:flex text-white flex-row">
          <div class="text-center md:grid md:grid-cols-2 mt-4 md:ml-0 md:gap-28">
            <img
              src="assets/images/logo-white.svg"
              class="block ml-auto mr-auto text-center max-w-[65%] md:relative"
            />
          </div>
          <div class="md:grid md:grid-cols-3 gap-8 md:gap-28 sm:grid-cols-3 mt-4">
            <div>
              <h2 class="mb-6 text-lg font-semibold text-white titlecase">
                Features
              </h2>
              <ul class="text-gray-500 dark:text-gray-400 font-medium">
                <li class="mb-4">
                  <a class="text-[#9CA3AF]">Link Shortening</a>
                </li>
                <li class="mb-4">
                  <a class="text-[#9CA3AF]">Branded Link</a>
                </li>
                <li class="mb-4">
                  <a class="text-[#9CA3AF]">Analytics</a>
                </li>
              </ul>
            </div>
            <div>
              <h2 class="mb-6 text-lg font-semibold text-white titlecase">
                Resources
              </h2>
              <ul class="text-gray-500 dark:text-gray-400 font-medium">
                <li class="mb-4">
                  <a class="text-[#9CA3AF]">Blog</a>
                </li>
                <li class="mb-4">
                  <a class="text-[#9CA3AF]">Developer</a>
                </li>
                <li class="mb-4">
                  <a class="text-[#9CA3AF]">Support</a>
                </li>
              </ul>
            </div>
            <div>
              <h2 class="mb-6 text-lg font-semibold text-white titlecase">
                Legal
              </h2>
              <ul class="text-gray-500 dark:text-gray-400 font-medium">
                <li class="mb-4">
                  <a class="text-[#9CA3AF]">About</a>
                </li>
                <li class="mb-4">
                  <a class="text-[#9CA3AF]">Our Team</a>
                </li>
                <li class="mb-4">
                  <a class="text-[#9CA3AF]">Careers</a>
                </li>
                <li class="mb-4">
                  <a class="text-[#9CA3AF]">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="flex md:ml-24 space-x-5 justify-center mt-4 md:gap-6">
            <a href="#" class="text-white">
              <img src="../assets/images/icon-instagram.svg" />
            </a>
            <a href="#" class="text-white">
              <img src="../assets/images/icon-pinterest.svg" />
            </a>
            <a href="#" class="text-white">
              <img src="../assets/images/icon-twitter.svg" />
            </a>
            <a href="#" class="text-white">
              <img src="../assets/images/icon-facebook.svg" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
