<div class="flex flex-wrap justify-center mx-auto p-6 md:flex-row">
  <div class="order-3 text-center w-full lg:w-5/12 md:w-6/12 md:text-left md:order-2">
    <div>
      <h1
        class="mb-3 text-6xl font-bold leading-snug text-dark"
      >
        More than just shorter links
      </h1>
      <div class="mb-8 text-base text-body-color text-center md:text-left">
        Build your brand's recognition and get detailed insights on how your
        links are performing
      </div>
      <div class="clients text-center md:text-left">
        <button
          type="button"
          class="text-white bg-teal hover:bg-teal-light focus:bg-teal-dark font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0"
        >
          Get Started
        </button>
      </div>
    </div>
  </div>
  <div class="order-2 text-center w-full lg:w-5/12 md:w-6/12 md:text-left md:order-3">
    <div class="lg:ml-auto lg:text-right">
      <div class="relative z-10 block pt-11 lg:pt-0">
        <img
          src="assets/images/illustration-working.svg"
          alt="hero"
          class="max-w-full lg:ml-auto"
        />
      </div>
    </div>
  </div>
</div>
