<nav class="bg-white border-gray-200">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-6"
  >
    <img
      src="assets/images/logo.svg"
      alt="hero"
      class="self-center text-2xl font-bold whitespace-nowrap"
    />
    <div class="flex md:order-2">
      <button
        data-collapse-toggle="navbar-content"
        type="button"
        class="flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-expanded="false"
        id="navbar-button"
        (click)="toggleNavbar()"
      >
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div
      class="items-center text-center hidden w-full md:flex md:w-auto md:order-2"
      id="navbar-content"
    >
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray space-x-0 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white w-full"
      >
        <li>
          <a
            href="#"
            class="block text-white py-2 pl-3 pr-4 md:text-black md:mr-0"
            >Feature</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block text-white py-2 pl-3 pr-4 md:text-black md:mr-0"
            >Pricing</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block text-white py-2 pl-3 pr-4 md:text-black md:mr-0"
            >Resources</a
          >
        </li>
        <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
        <li>
          <button
            type="button"
            class="text-white font-medium text-base px-4 py-2 text-center mr-3 md:text-black md:m-0"
          >
            Login
          </button>
        </li>
        <li>
          <button
            type="button"
            class="text-white bg-teal hover:bg-teal-light focus:bg-teal-dark font-medium rounded-lg text-base px-4 py-2 text-center mr-3 md:mr-0"
          >
            Sign Up
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
