<div class="container-body">
  <app-navbar></app-navbar>
  <div class="w-full block">
    <app-about></app-about>
    <app-shorten></app-shorten>
    <app-analytics></app-analytics>
  </div>
  <app-footer></app-footer>
</div>
