<div class="pb-4">
  <div class="block max-w-[428px] mx-auto text-center mb-20">
    <h3 class="font-bold text-2xl py-4">Advanced Statistics</h3>
    <div class="font-normal text-sm">
      Track how your links are performing across the web with our advanced
      statistics dashboard
    </div>
  </div>
  <div class="max-w-screen-xl mx-auto p-6">
    <div class="relative py-4">
      <div class="absolute left-2/4 top-[50px] items-stretch inset-4 md:flex md:items-center md:left-[17px]">
        <div class="h-full w-full border-l-4 md:border-b-4 border-teal md:h-0"></div>
      </div>
      <div class="block md:flex md:flex-row">
        <div class="flex-1 py-16 px-4 -mt-8 md:py-0">
          <mat-card>
            <div class="relative">
              <div
                class="absolute -top-[49px] h-[60px] w-[60px] bg-black rounded-full left-[40%] sm:left-[46%] md:left-0"
              >
                <img
                  src="../assets/images/icon-brand-recognition.svg"
                  class="self-center text-2xl font-bold whitespace-nowrap ml-3.5 w-[34px] h-[35px] mt-3"
                />
              </div>
              <div class="font-bold text-2xl py-4 text-center md:text-left">Brand Recognition</div>
              <div class="text-center md:text-left">
                Boost your brand recognition with each click. Generic link dont
                mean a thing. Branded link help instill confidence in your
                content.
              </div>
            </div>
          </mat-card>
        </div>
        <div class="flex-1 pb-16 px-4 md:pb-0">
          <mat-card>
            <div class="relative">
              <div
                class="absolute -top-[49px] h-[60px] w-[60px] bg-black rounded-full left-[40%] sm:left-[46%] md:left-0"
              >
                <img
                  src="../assets/images/icon-detailed-records.svg"
                  class="self-center text-2xl font-bold whitespace-nowrap ml-3.5 w-[34px] h-[35px] mt-3"
                />
              </div>
              <div class="font-bold text-2xl py-4 text-center md:text-left">Detailed Records</div>
              <div class="text-center md:text-left">
                Gain insights into who is clicking your links. Knowing when and
                where people engage with your contents help inform better
                decisions
              </div>
            </div>
          </mat-card>
        </div>
        <div class="flex-1 px-4 mt-0 md:mt-8">
          <mat-card>
            <div class="relative">
              <div
                class="absolute -top-[49px] h-[60px] w-[60px] bg-black rounded-full left-[40%] sm:left-[46%] md:left-0"
              >
                <img
                  src="../assets/images/icon-fully-customizable.svg"
                  class="self-center text-2xl font-bold whitespace-nowrap ml-3.5 w-[34px] h-[35px] mt-3"
                />
              </div>
              <div class="font-bold text-2xl py-4 text-center md:text-left">Fully Customizable</div>
              <div class="text-center md:text-left">
                Improve brand awareness and content discoverability through
                customizable links, supercharging audience engagement
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
