<div class="w-full block mx-auto p-6">
  <div class="max-w-screen-xl mx-auto p-6">
    <div
      class="block md:flex p-6"
      style="
        background-image: url(../assets/images/bg-shorten-desktop.svg);
        background-color: #581c87;
      "
    >
      <div class="block md:flex-1">
        <mat-form-field appearance="fill">
          <mat-label>Enter your link here</mat-label>
          <input type="text" matInput [formControl]="shortenURLCtrl" />
        </mat-form-field>
      </div>
      <button
        type="button"
        class="ml-0 mt-2 md:mt-0 text-white bg-teal hover:bg-teal-light focus:bg-teal-dark font-medium rounded-lg text-base px-4 py-2 text-center mr-3 md:mr-0 md:ml-4 w-full md:w-auto"
        (click)="btnShortern()"
      >
        <ng-container *ngIf="isLoading; else otherCondition">
          <mat-spinner [diameter]="20"></mat-spinner>
        </ng-container>
        <ng-template #otherCondition> Shorten it! </ng-template>
      </button>
    </div>
  </div>
  <div class="max-w-screen-xl mx-auto p-6">
    <div class="block mb-4" *ngIf="listShortenLink?.length">
      <div class="text-base">Your Links:</div>
    </div>
    <ng-container
      *ngFor="let item of listShortenLink | slice : 0 : 3; let index = index"
    >
      <mat-card class="block mb-4 p-6">
        <div class="block text-sm md:flex">
          <div
            class="block break-words border-b-2 md:border-0 mb-1 md:mb-0 md:flex-1 md:mt-2"
          >
            {{ item?.originalLink }}
          </div>
          <div class="block break-words md:flex md:mt-2 text-teal">
            {{ item?.shortenLink }}
          </div>
          <div class="block md:flex md:ml-4 md:mt-0">
            <button
              type="button"
              class="w-full mt-2 md:mt-0 md:w-auto text-white bg-teal hover:bg-teal-light focus:bg-teal-dark font-medium rounded-lg text-base px-4 py-2 text-center mr-3 md:mr-0"
              (click)="copyToClipboard(item, index)"
              (focusout)="resetSelectedIndex()"
            >
              {{ selectedIndex === index ? "Copied" : "Copy" }}
            </button>
          </div>
        </div>
      </mat-card>
    </ng-container>
  </div>
</div>
