::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff;
}

.mat-form-field {
    width: 100%;
}

::ng-deep .mat-form-field-underline {
    bottom: 0 !important;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}